<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <title>Symfony Docker Bootstrap</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
