{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ 'default.index.title'|trans }}</h1>

    <ul>
    {% for item in items %}
        <li>{{ item.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
